body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

section h2 {
    font-size: 24px;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#Apropos .container {
    max-width: 800px;
    margin: 0 auto;
}

/* Style pour le header */
header {
    padding: 20px;
    background-color:#333; /* Ajoutez la couleur de fond souhaitée */
    overflow: hidden; /* Pour contenir les éléments floats à l'intérieur du header */
}

header .image img {
    width: 150px; /* Remplacez par la largeur souhaitée en pixels */
    height: auto; /* Ajuste automatiquement la hauteur en fonction de la largeur */
   /* border-radius: 50%;  Pour rendre l'image arrondie */
    border: 2px solid #333; /* Ajoutez une bordure si nécessaire */
}

header .image {
    float: left; /* Float à gauche pour permettre au texte de s'aligner à droite */
    margin-left: 600px; /* Ajustez la marge à votre préférence */
}


header .container {
    text-align: center;
    margin-right: 720px; /* Ajustez pour compenser la marge de gauche de l'image */
    margin-top: 50px;
}


header h1 {
    margin: 0;
    color:#f8f8f8;
}

header p {
    margin: 5px 0;
    color:#f8f8f8;
}

/* Style pour la section de téléchargement */
#telechargement {
    text-align: center;
}

#telechargement .container {
    display: flex;
    flex-direction: column; /* Ajustement pour afficher les éléments en colonne */
    align-items: center;
    min-height: 200px; /* Ajoutez une hauteur minimale au conteneur */
}

#telechargement h2 {
    margin-bottom: 10px;
}

#telechargement .preview-image {
    max-width: 40%;
    margin-bottom: 20px;
}

#telechargement .preview-image img {
    width: 150px; /* Remplacez par la largeur souhaitée en pixels */
    height: auto; /* Ajuste automatiquement la hauteur en fonction de la largeur */
    border: 1px solid #ccc;
    border-radius: 5px;
}


#telechargement .download-container {
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

/* Style du bouton de téléchargement */
.download-button {
    margin-top: auto; /* Fixer le bouton en bas du conteneur */
    padding: 10px 20px;
    text-decoration: none;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.download-button:hover {
    background-color: blue;
    color: white;
}

/* Ajustement de l'alignement des sections */
section {
    margin-bottom: 40px;
}

/* Style pour la section de Formation */

#formation .container {
    max-width: 800px;
    margin: 0 auto;
}

#formation h2 {
    margin-bottom: 20px;
}

.formation-list {
    list-style: none;
    padding: 0;
}

.formation-list li {
    margin-bottom: 30px;
}

.year {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style pour la section d'Expérience */
#experience .container {
    max-width: 800px;
    margin: 0 auto;
}

#experience h2 {
    margin-bottom: 20px;
}

.experience-list {
    list-style: none;
    padding: 0;
}

.experience-list li {
    margin-bottom: 30px;
}

.experience-list p {
    margin: 0;
}

/* Style pour la section de Compétences */


#competences1 .container {
    max-width: 800px;
    margin: 0 auto;
}

#competences1 h2 {
    margin-bottom: 20px;
}

#competences2 .container {
    max-width: 800px;
    margin: 0 auto;
}

#competences2 h2 {
    margin-bottom: 20px;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 10px;
}

.skills-list li:last-child {
    margin-bottom: 0;
}

/* Styles pour la section de contact */
#contact .container {
    max-width: 800px;
    margin: 0 auto;
}

#contact h2 {
    margin-bottom: 20px;
}
